.review {
	display: inline-block;
	margin: 10px 0;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 10px;
}

.review h6 {
	display: flex;
	gap: 10px;
	margin-bottom: 10px;
}

.review h6 span:first-child {
	font-weight: 300;
}